header {
  position: absolute;
  top: 0;

  width: 100%;
  z-index: 2;

  .fixed-header {
    padding-top: 14px;

    > .container-custom {
      display: flex;
      justify-content: space-between;
    }
  }

  .holder-burger {
    display: flex;
    justify-content: space-between;
    width: 124px;

    .icon-currency {
      position: relative;

      &:before {
        content: url('../assets/images/icon-angle-down.png');

        position: absolute;
        right: -27px;
        top: -7px;

        width: 20px;
        height: 20px;
      }
    }
  }

  .menu-collapse {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1090;
    overflow-y: auto;
  
    width: 100%;
  
    padding-top: 34px;
    height: 100vh;
  
    transition: all .8s ease-in-out;
    transform: translateX(100%);
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
  
    background-color: rgb(66, 66, 66);
  
    &:before {
      content: url('../assets/images/bg-menu.png');
  
      position: absolute;
      bottom: 98px;
      left: -77px;
  
      width: 100%;
    }
  
    &.open-menu {
      visibility: visible;
      transform: translateY(0);
    }
  
    .list-wrapper {
      padding: 0;
  
      text-align: center;
      list-style: none;
    }
  
    .menu-wrapper {
      &-acctn {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    .menu-item {
      line-height: 57px;
    }
  
    .menu-link {
      font-family: $font-roboto;
      font-weight: 900;
      font-size: 40px;
      color: $brand-color;
    }
  
    .text-name {
      font-family: $font-roboto;
      font-weight: 900;
      font-size: 40px;
      color: #fff;
      text-align: center;
    }
  
    .holder-acctn {
      margin-top: 22px;
      padding-top: 20px;
  
      border-top: 1px solid #4e4e4e;
    }
  
    .acctn-item {
      margin: 19px 55px;
    }
  
    .acctn-link {
      font-family: $font-roboto;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      text-align: center;
    }
  
    .text-link {
      position: relative;
  
      display: block;
      margin: 10px auto;
      
      font-family: $font-roboto;
      font-weight: 500;
      font-size: 14px;
      color: $brand-color;
      text-align: center;
  
      &:before {
        content: '';
  
        position: absolute;
        bottom: 0;
        width: 55px;
        height: 2px;
  
        border-bottom: 2px solid $brand-color;
      }
    }
  
    .holder-socialMedia {
      max-width: 103px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 57px auto 20px;
  
      .fab {
        color: #fff;
      }
    }
  
    @include respond-to(sm-down) {
      .menu-link,
      .text-name {
        font-size: 20px;
      }
  
      .menu-item {
        line-height: 50px;
      }
  
      .menu-wrapper {
        &-acctn {
          display: block;
        }
      }
    }
  }
}